<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <title>Camperos XDDDD</title>
</head>
<body>
    <h1>Hola mundo cruel</h1>
    <h1>By 2002</h1>
    <hr>
    <ul>
        {% for i in objeto %}
        <li>{{ i.nombre }}</li>
        {% endfor %}
    </ul>
    <script src="{% static 'estilos.js' %}"></script>
</body>
</html>
